/* File Name admin-login.css
#################################################################################################### */


.login h1 a {
    height:80px;
    width:300px;
    background-size:300px 80px;
    background-image:url('../images/login-logo.png');
}
