/* .layout, .grid / classes
#################################################################################################### */

/* color layouts */
.layout-gray {
	background:$medium-gray;
	color:$white;
}
.layout-light-gray {
	background:$light-gray;
	color:$black;
}
