/* style.css
#################################################################################################### */
// $global-flexbox: true !global;

@import 'foundation_settings';
@import '../node_modules/foundation-sites/scss/foundation';

// @include foundation-everything();
@include foundation-button();
// @include foundation-forms();

@import 'mixins';




.hentry {
  position:relative;
  .item-status {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:5px 5px 5px 10px;
    font-size:1.3rem;
    background:#f7f7f7;
    font-family: "Noto Sans", sans-serif;
  }
}
body.archive {
  .hentry.type-steps {
    border-left:solid 10px #eee;
  }
  .hentry.type-steps.step-status-current {
    border-left-color:#def0fc;
    .item-status {
      background-color:#def0fc;
    }
  }
  .hentry.type-steps.step-status-waiting,
  .hentry.type-steps.step-status-on-hold {
    border-left-color:#fff3d9;
    .item-status {
      background-color:#fff3d9;
    }
  }
  .hentry.type-steps.step-status-issue {
    border-left-color:#fce6e2;
    .item-status {
      background-color:#fce6e2;
    }
  }
  .hentry.type-steps.step-status-completed {
    border-left-color:#e1faea;
    padding-top:45px;
    .item-status {
      background-color:#e1faea;
    }
  }
  .hentry.type-steps.step-status-completed {
    .entry-header {
      padding-left:10px;
      padding-right:10px;
      margin-bottom:10px;
    }
    .entry-title {
      margin-bottom:0;
      font-size:1.3rem;
    }
    .entry-content {
      padding-left:10px;
      padding-right:10px;
      padding-bottom:10px;
      font-size:1.3rem;
    }
    .entry-footer {
      padding:10px;
      font-size:1.3rem;
    }
    p {
      margin-bottom:5px;
    }
    .items-to-discuss {
      display:none;
    }
  }
}
